#header{
    width: 800px; margin:0 auto;
    background: red;
}
#wrap{
    width: 800px; margin:0 auto;
    overflow:hidden;
}
#aside{
    width: 200px; float: left;
    background: blue;
}
#content{
    width: 600px; float: left;
    background: green;
}